# Normalize text files to LF in the repo; Git checks out native EOLs as needed.
* text=auto eol=lf

*.md text
*.yml text
*.yaml text
*.java text
*.xml text
.editorconfig text
.gitattributes text
LICENSE text

*.jar binary
*.war binary
*.class binary
